{% extends "layout.html" %}

{% block content %}
<h1 class="text-center mt-lg-4 mb-4">Compare Products</h1>

<form class="form-inline my-lg-8 d-flex justify-content-center" style="gap: 10px;">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspoopup="true" aria-expanded="false">
            Keyword
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for keyword in keywords %}
                <a class="dropdown-item" href="{{ url_for('compare.compare_keyword', keyword=keyword) }}">{{ keyword }}</a>
            {% endfor %}
        </div>
    </div>
    {% for filtered_word in filter %}
    <div class="form-control d-flex" style="width: fit-content; gap: 10px">
        <p class="my-auto">{{ filtered_word }}</p>
    </div>
    {% endfor %}
</form>

<div class="container-fluid pt-4">
    <div class="row px-5" id="compare-container">
    </div>
</div>

<script>
    const products = JSON.parse('{{products|tojson}}');
    var stores = products.map((store) => Object.keys(store)[0])
    var container = document.getElementById('compare-container')

    // For each store in the products list
    products.forEach((store_dict, index) => {
        store = stores[index]
        
        // Create a div for this store
        storeDiv = document.createElement('div')
        storeDiv.classList.add('col')

        storeH1 = document.createElement('h1')
        storeH1.classList.add('text-center')
        storeH1.textContent = store

        // Grab the first product dictionary
        product = store_dict[store][0]
        
        // Create the card container
        card = document.createElement('div')
        card.classList.add('form-control', 'd-flex', 'p-4')
        card.style.gap = '20px'

        // Create the card image
        cardImg = document.createElement('img')
        cardImg.src = product['image']
        cardImg.style.width = 'fit-content'
        cardImg.style.height = '4rem'
        cardImg.style.objectFit = 'contain';
        cardImg.classList.add('card-image')

        // Create a div to contain card text
        cardTextDiv = document.createElement('div')

        // Add the card title
        cardTitle = document.createElement('h5')
        cardTitle.classList.add('card-title')
        cardTitle.textContent = product['name']

        // Add card keyword
        cardKeyword = document.createElement('h6')
        cardKeyword.classList.add('card-text')
        cardKeyword.textContent = product['keyword']

        // Append elements to the cardTextDiv
        cardTextDiv.append(cardTitle)
        cardTextDiv.append(cardKeyword)

        // Append elements to the store div
        storeDiv.appendChild(storeH1)

        // Append elements to the card
        card.appendChild(cardImg)
        card.appendChild(cardTextDiv)
        storeDiv.appendChild(card)


        container.appendChild(storeDiv)
    })

</script>

{% endblock %}