{% extends "layout.html" %}

{% block content %}
<h1 class="text-center my-lg-4">Shop<span class="text-primary">Club</span></h1>
<h4 class="text-center">Compare grocery store prices with a few clicks of a button.</h4>

<form class="form-inline mt-5 my-lg-8 d-flex justify-content-center" method="post">
    <input class="form-control mr-sm-2" type="search" placeholder="Enter Zip Code" area-label="Search" name="zipcode" id="autocomplete" autocomplete="off">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flashes d-flex justify-content-center mt-3 text-danger">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

{% if name != "" %}
<h6>Change Location: <u>{{ name }}</u></h6>
{% endif %}

<div>
    <h1>Popular Products</h1>
    <div class="d-flex my-4" style="gap: 20px">
        {% for product in products %}
        <div class="card p-4" style="width: 18rem;">
            <img class="card-img-top mx-auto w-50 h-50" style="height: 1rem; width: 1rem;" src="{{ product['image'] }}" alt="{{ product['name'] }}">
            <div class="card-body">
                <h5 class="card-title">{{ product['name'] }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="text-danger">Target</span> {{ product['target_price'] }}</li>
                    <li class="list-group-item"><span class="text-danger">Trader Joes</span> {{ product['traderjoes_price'] }}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    $(document).ready(function() {
        $.ajax({
            url: '{{ url_for("autocomplete.autocomplete_zipcodes") }}'
        }).done(function (data) {
            $('#autocomplete').autocomplete({
                source: data,
                minLength: 1
            })
        })
    })
</script>

{% endblock content %}