{% extends "layout.html" %}

{% block content %}
<h1 class="text-center mt-lg-4">Products</h1>

<h4 class="text-center mt-lg-4">Add a Product</h4>
<form class="form-inline my-lg-8 d-flex justify-content-center" method="post">
    <label class="form-control mr-sm-2">Product Name</label>
    <input class="form-control mr-sm-2" type="text" name="name">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Add Product</button>
</form>

<table class="table table-hover mt-5">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Keyword</th>
        <th scope="col">Detail</th>
        <th scope="col">Target TCIN</th>
        <th scope="col">Kroger ID</th>
        <th scope="col">Walmart ID</th>
        <th scope="col">Options</th>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product._id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.keyword }}</td>
            <td>{{ product.detail }}</td>
            <td>{{ product.target_tcin }}</td>
            <td>{{ product.kroger_id }}</td>
            <td>{{ product.walmart_id }}</td>
            <td>
                <a href="{{ url_for('get_delete_product', id=product._id) }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}