{% extends "layout.html" %}

{% block content %}
<h1 class="text-center mt-lg-4">Products</h1>

<h4 class="text-center mt-lg-4">Add a Product</h4>
<form class="form-inline my-lg-8 d-flex justify-content-center" action="{{ url_for('products.get_add_by_query') }}" method="POST">
    <label class="form-control mr-sm-2">Product Name</label>
    <input class="form-control mr-sm-2" type="text" name="name" id="autocomplete" autocomplete="off">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Add Product</button>
    <a href="{{ url_for('products.get_delete_all') }}" class="btn btn-danger mx-2 my-2 my-sm-0">Delete All</a>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flashes d-flex justify-content-center mt-3">
    {% for category, message in messages %}
    <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="d-flex align-items-center justify-content-between">
    <form class="d-flex mt-4" style="gap: 20px;" action="{{ url_for('products.filter_by_keyword') }}" method="POST">
        <label class="my-auto form-control" style="width: fit-content;">Filter</label>
        <!-- Keyword Dropdown -->
        <select id="keyword-dropdown" name="keyword-dropdown" class="form-control" style="width: fit-content;">
            <option value="" selected>Keyword</option>
            {% for keyword in keywords %}
            <option class="dropdown-item" value="{{ keyword }}">{{ keyword }}</option>
            {% endfor %}
        </select>
    
        <!-- Store Dropdown -->
        <select id="store-dropdown" name="store-dropdown" class="form-control" style="width: fit-content;">
            <option value="" selected>Store</option>
            {% for store in stores %}
            <option class="dropdown-item" value="{{ store }}">{{ store }}</option>
            {% endfor %}
        </select>
    
        <button class="btn btn-outline-primary" type="submit">Apply Filter</button>
        <!-- Showing the active filter -->
        {% for filtered_word in filter %}
        {% if filtered_word != "" %}
        <div class="form-control d-flex" style="width: fit-content; gap: 10px;">
            <p class="my-auto" >{{ filtered_word }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </form>
    {% if filter %}
        <a class="btn btn-outline-danger my-auto" href="{{ url_for('products.get_products') }}">Remove Filters</a>
    {% endif %}
</div>


<table class="table table-hover mt-4">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Keyword</th>
        <th scope="col">Detail</th>
        <th scope="col">Target TCIN</th>
        <th scope="col">Trader Joes SKU</th>
        <th scope="col">Options</th>
    </thead>
    <tbody id="table-body">
</table>

<script type="text/javascript">
    // Functionality for autocompleting the input box
    $(document).ready(function() {
        $.ajax({
            url: '{{ url_for("autocomplete.autocomplete_keywords") }}'
        }).done(function (data) {
            $('#autocomplete').autocomplete({
                source: data,
                minLength: 1
            })
        })
    });

    // Functionality for the dropdown menu behaviors
    var storeDropdown = document.getElementById('store-dropdown');
    console.log(storeDropdown)
    storeDropdown.addEventListener("change", function() {
        storeDropdown.name = storeDropdown.value;
    });

    var keywordDropdown = document.getElementById('keyword-dropdown');
    keywordDropdown.addEventListener("change", function() {
        keywordDropdown.name = keywordDropdown.value;
    });

    // Functionality for loading the product data into the table
    const products = JSON.parse('{{products|tojson}}');
    var stores = products.map((store) => Object.keys(store)[0])
    var tableBody = document.getElementById('table-body')

    productKeys = Object.keys(products[0][stores[0]]['0'])

    products.forEach((store_dict, index) => {
        store = stores[index]
        for(product in store_dict[store]) {
            // Create a row for each product
            row = document.createElement('tr')

            product = store_dict[store][product]

            // Create td elements for each entry in the product dictionary
            var tds = []            
            for (key in productKeys) {
                if (key != 'image') {
                    td = document.createElement('td')
                    td.textContent = product[productKeys[key]]
                    tds.push(td)
                }
            }

            // Enter tds into the row in a specific order
            row.appendChild(tds[1]) // id
            row.appendChild(tds[4]) // name
            row.appendChild(tds[3]) // keyword
            row.appendChild(tds[0]) // detail
            
            // Enter remaining tds dynamically (ignore tds[2] as that's the image)
            for(var i = 5; i < tds.length; i++)
                row.appendChild(tds[i])

            // Add delete button
            td = document.createElement('td')
            deleteButton = document.createElement('button')
            deleteButton.textContent = 'Delete'
            deleteButton.classList.add('btn', 'btn-danger')
            td.appendChild(deleteButton)

            row.appendChild(td)

            tableBody.appendChild(row)
        }
    })
    
</script>

{% endblock %}